<form method="post" action="{{ path('ressource_delete', {'id': ressource.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer cette ressource??');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ressource.id) }}">
    <button class="btn btn-danger rounded-pill">Supprimer</button>
</form>
